/* body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
} */

/* html {
  height: -webkit-fill-available;
} */

main {
  height: 100vh;
  height: -webkit-fill-available;
  /* max-height: 100vh; */
  /* overflow-x: auto; */
  /* overflow-y: scroll; */
}

/* .sidebar{
  position: sticky;
} */

/* .dashboard-heading{
  font-weight: bolder;
  font-size: xx-large;
} */

.dashboard-content {
  height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
  width: 100%;
  /* overflow-y: auto; */
}
